#root{
	display: flex;
	flex-direction: column;
	color: var(--page-color);
	width:100%; 
}

#sticky-top-bar {
  position: sticky;
  top: 0;
  width: 100%;
}

#header{
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffffeb;
  color: #333;
}


#header > p{
  color: #777;
  font-size: 22px;
}

#current-page-section{
  padding: 20px;
  background: #ffffffb5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title{
  font: 30px Arial;
  color: #000;
}

#filter-bar{
  font: 14px Arial;
  display: flex;
  gap: 10px;
  color: #ddd;
}

#filter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 20px;
  border-left: 1px solid #777;
  margin: 4px;
}

#content {
	justify-content: center;
	align-items:flex-start;
	flex: 1;
  gap: 50px;
	display: flex;
	color: var(--content-color);
	background-color: var(--content-bg-color);
}

#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	color: #888;
}

#product-list-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 150px 0;
}


#product-list-container button{
  appearance: none;
  border:0;
  background: transparent;
  cursor: pointer;
  padding:0;
  margin: 0 10px;
}

.product{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: #f6f6f6;
  color: #000000;
  padding-bottom: 20px;
}

.product img {
  width: 200px;
  margin: 0 auto;
}

.product .title {
  padding: 20px 0;
  padding-bottom: 0;
  font-weight: 800;
  color: #000;
  text-align: center;
}

.product .desc {
  text-align: center;
  font: 13px Geneva;
  margin-bottom: 20px;
  color: #858585;
}

.product .button-container {
  text-align: center;
}

.product .price {
  text-align: center;
  font-weight: bold;
  color: #c77632;
  font-size: 20px;
}

.product .brand {
  color: #888;
  font-size: 13px;
  text-align: center;
}

.product.selected {
  background-color:#8bfb8b;
}

#cart-button{
  display: flex;
  align-items: center;
  gap: 2px;
}


#cart-button-count {
  font-family: Akshar;
  font-size: 18px;
}


.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  color: #777;
  appearance: none;
  border:0;
  background: transparent;
  cursor: pointer;
  padding:0;
  margin: 0 10px;
}

.button-container button:active {
  color: #000;
}

.button-container input{
  width: 60px;
  text-align: center;
  padding: 5px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#filters-container{
  margin-top:150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 200px;
}

fieldset {
  background: #fff;
  color: #000;
  border: 0;
}

#filters-container label, #filters-container input{
  cursor: pointer;
}

.check-commands-container {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  font-size: 12px;
}

.filter-box{
  border: 1px solid #ddd;
}

.filter-box p {
  padding-left: 6px;
  font-weight: bold;
}

fieldset div {
  display: flex;
  gap: 2px;
  font-size: 14px;
}

#sort-select{
  width: 100%;
}

#sort-checkbox {
  display: none;
}
.checkLabel {
  display: inline-block;
  padding: 10px;
  background: url("images/ascending.png") no-repeat left center;
  padding-left: 15px;
}
#sort-checkbox:checked + .checkLabel {
  background-image: url("images/descending.png");
}

#sort-container{
  display: flex;
  gap: 6px;
}


#links-container p{
  color: #fff;
  font-size: 18px;
  padding: 22px 40px;
}

.current-link{
  border-bottom: 2px solid #8ca5bd;
}